<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogs</title>
</head>
<body>


{% extends 'SitioWebApp/base.html' %}

{% load static %}

{% block content %}
<div>    
    
    {% for post in posts %}

        <!-- Heading -->
        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{{post.imagen.url}}" alt="" style="width: 50%;">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4" >
                            <span class="section-heading-upper">{{post.titulo}}</span>
                            <span class="section-heading-upper">{{post.contenido}}</span>
                            
                        </h2>
                        <div style="text-align: left; font-size: 0.7em;">Autor: {{post.autor}}</div>
                        
                    </div>
                </div>
            </div>
        </section>


    {% endfor %}

    <section>
        <div style="width: 75%; margin: auto; font-size: 0.8em; text-align: center; color: white;">
            
            Categorías: &nbsp;
            {% for post in posts %}

                {% for categoria in post.categoria.all %}
           
                    {{categoria.nombre}} &nbsp;&nbsp;&nbsp;

                {% endfor %}

            {% endfor %}
        </div>
    </section>



</div>
{% endblock %}



</body>
</html>