<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
</head>
<body>


{% extends 'SitioWebApp/base.html' %}

{% load static %}

{% block content %}

    {% for producto in productos %}

        {{producto.nombre}}
        {{producto.categorias}}
        {{producto.precio}}
        <img src="{{producto.imagen.url}}" alt="" style="width: 50%;">
        {{producto.disponibilidad}}
    
    {% endfor %}




{% endblock %}



</body>
</html>